<VirtualHost *:80>
  ServerAdmin pablos_dungeon@localhost
  ServerName pablos_dungeon
  ServerAlias www.pablos_dungeon
  DocumentRoot /var/www/pablos_dungeon
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
